body{
    background-image: url(../bg/3153594.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-color: rgba(0, 0, 0, 0,5);
}

.form-event{
    background-image: url(../bg/6308.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-color: rgba(0, 0, 0, 0,5);
}

.container{
    opacity: 0.98;
}

.card-group{
    border-radius: 40%;
    
}