@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}

.form-control, .btn-radius{
    border-radius: 1rem;
}

.btn-radius{
    background: #EFD945;
    background: -webkit-linear-gradient(top left, #EFD945, #DDC100);
    background: -moz-linear-gradient(top left, #EFD945, #DDC100);
    background: linear-gradient(to bottom right, #EFD945, #DDC100);
}

.btn-radius-border{
    border-radius: 1rem;
    color: #fff;
    border: 2px solid #fff !important;
}

.has-icon .form-control {
    padding-left: 2.375rem;
}

.has-icon .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

c